
# PostgreSQL
POSTGRES_PASSWORD=ya12355
POSTGRES_USER=crick
DATABASE_URL="postgres://crick:ya12355@127.0.0.1:5432/mog2b"

# General settings
DJANGO_ADMIN_URL=/admin
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=ce1-wu&+8+sq#)h*!y5-mmu=7o(d)&_*zj5&w!b*owr*boo*)e
DJANGO_ALLOWED_HOSTS=.mog2b.com,127.0.0.1

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=

DJANGO_OPBEAT_ORGANIZATION_ID
DJANGO_OPBEAT_APP_ID
DJANGO_OPBEAT_SECRET_TOKEN

COMPRESS_ENABLED=

